@import "antd/dist/antd.css";

*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    .student-table{
        flex: 2;
        padding:30px 30px 30px 30px;
        .table{
            flex:2;
            flex-shrink: 1;
        }
       
    }
    .ant-table table { font-size: 16px; font-weight: light;color: black; }
}
